html {
  background-color: #c9b5ab;
  line-height: 1.5;
  }

h1 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #3f1622;
}

header nav ol {
  list-style-type: none;
}

nav a {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: #8f2440;
  text-decoration: none;
}

nav a:hover {
  color: #3f1622;
  text-decoration: underline;
}

img {

}

figcaption {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-size: 1.125rem;
  text-align: center;
  color: #222;
}

p {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  text-align: left;
  color: #222;
}

footer a {
  color: #8f2440;
  text-decoration: none;
}

footer a:hover {
  color: #3f1622;
  text-decoration: underline;
}
